.container {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  padding: 20px;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;

  --ps-width: 200px;
  --ps-height: 150px;

  @media screen and (max-width: 600px) {
    flex-direction: column;
    --ps-width: 100%;
    --ps-height: 50vw;
  }
}

.text {
  flex-grow: 1;

  h2 {
    color: var(--hp-darkblue);
    margin-top: 0;
    margin-bottom: 6px;
  }
}

.address-label {
  color: var(--hp-red);
  line-height: 1.5rem;
  font-size: 0.9rem;
  font-weight: bold;
}
