.container {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  padding: 20px;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
}

.text {
  flex-grow: 1;

  h2 {
    color: var(--hp-darkblue);
    margin-top: 0;
  }
}
